.link {
  composes: link from '~Components/Link/Link.css';
}

.pathContainer {
  display: flex;
  align-items: center;
}

.label {
  composes: label from '~Components/Label.css';

  margin-left: 10px;
}

.freeSpace,
.unmappedFolders {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 150px;
}

.actions {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 45px;
}
